{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup"],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": true
    }]
  ]
}


// {
//     "plugins": [
//       ["prismjs", {
//         "languages": ["javascript", "css", "html","jsx","python"],
//         "plugins": ["line-numbers", "show-language", "copy-to-clipboard"],
//         "theme": "okaidia",
//         "css": true,
//         "remove-trailing": true,
//         "remove-indent": true,
//         "left-trim": true,
//         "right-trim": true,
//         "break-lines": 60 //max number of characters in each line before break
    
//       }]
//     ]
//   }



