body {
	margin: 0;
	background-color: #272727;
	padding: 0%;
	box-sizing: border-box;
	overflow-x: hidden;
}

/* #main {
	background: linear-gradient(132deg, #fc415a, #591bc5, #212335);

	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0px;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
